security.protocol=SSL
ssl.truststore.location={{ certificates }}client.truststore.jks
ssl.truststore.password=test1234
ssl.keystore.location={{ certificates }}/client.keystore.jks
ssl.keystore.password=test1234
ssl.key.password=test1234
ssl.enabled.protocols=TLSv1.2,TLSv1.1,TLSv1
ssl.truststore.type=JKS
ssl.keystore.type=JKS
ssl.endpoint.identification.algorithm=