security.protocol=SSL
ssl.truststore.location={{ certificates }}/client.truststore.jks
ssl.truststore.password={{ passcert }}
ssl.keystore.location={{ certificates }}/client.keystore.jks
ssl.keystore.password={{ passcert }}
ssl.key.password={{ passcert }}
ssl.enabled.protocols=TLSv1.2,TLSv1.1,TLSv1
ssl.truststore.type=JKS
ssl.keystore.type=JKS
ssl.endpoint.identification.algorithm=